@model ProyectoMVC.Empleados

@{
    ViewBag.Title = "Agregar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Agregar Empleado</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Ingrese la siguiente información del empleado:</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @*pais*@
        <div class="form-group">
            <label class="control-label col-md-2">Pais:</label>
            <div class="col-md-10">
                @Html.DropDownList("pais", (IEnumerable<SelectListItem>)ViewBag.paises, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.pais, "", new { @class = "text-danger" })
            </div>
        </div>

        @*nombres*@
        <div class="form-group">
            <label class="control-label col-md-2">Nombres:</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.nombre, "", new { @class = "text-danger" })
            </div>
        </div>


        @*apellidos*@
        <div class="form-group">
            <label class="control-label col-md-2">Apellidos:</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.apellido, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.apellido, "", new { @class = "text-danger" })
            </div>
        </div>

        @*fecha de ingreso*@
        <div class="form-group">
            <label class="control-label col-md-2">Fecha de ingreso:</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.fechaIngreso, new { htmlAttributes = new { @type = "date", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.fechaIngreso, "", new { @class = "text-danger" })
            </div>
        </div>

        @*cargo*@
        <div class="form-group">
            <label class="control-label col-md-2">Cargo:</label>
            <div class="col-md-10">
                @Html.DropDownList("cargo", (IEnumerable<SelectListItem>)ViewBag.cargos, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.cargo, "", new { @class = "text-danger" })
            </div>
        </div>

        @*salario*@
        <div class="form-group">
            <label class="control-label col-md-2">Sueldo:</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.salario, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.salario, "", new { @class = "text-danger" })
            </div>
        </div>

        @*email*@
        <div class="form-group">
            <label class="control-label col-md-2">E-mail:</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
            </div>
        </div>

        @*botones*@
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-success" />
                @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-primary btn-sm" })

            </div>
        </div>
    </div>
}

<div>

    @*@Html.ActionLink("Back to List", "Index")*@
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
