@model IEnumerable<ProyectoMVC.Empleados>

@{
    ViewBag.Title = "Empleados";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>Planilla de Empleados</h2>
    <a class="btn btn-success btn-sm" href="@Url.Action("Create", "Empleados")">
        + Agregar empleado
    </a>
</div>
<br />
<div class="container">
    <table class="table">
        <tr>
            <th>codigo</th>
            <th>nombre</th>
            <th>cargo</th>
            <th>fecha de ingreso</th>
            <th>salario</th>
            <th>email</th>
            <th>pais</th>
            <th>acción</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.idEmpleado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.cargos.cargo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fechaIngreso)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.salario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.pais1.nomPais)
                </td>
                <td style="width:300px">

                    @Html.ActionLink("Editar", "Edit", new { id = item.idEmpleado }, new { @class = "btn btn-success btn-sm" })
                    @Html.ActionLink("Consultar", "Details", new { id = item.idEmpleado }, new { @class = "btn btn-primary btn-sm" })
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.idEmpleado }, new { @class = "btn btn-danger btn-sm" })
                </td>
            </tr>
        }
    </table>
</div>